# Dependencies
node_modules
*/node_modules
**/node_modules/

# Production build output
dist
dist-ssr
*/dist
**/dist/

# Local Environment Variables
.env
.env.*
!.env.example
*.local

# Editor & IDE caches
.vite
*/.vite
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
